{% extends 'theme.twig' %}
{% block body_class %}template-cart{% endblock %}
{% block body %}

    <main class="wrapper main-content" role="main">
        <div class="grid">
            <div class="grid__item">
                <!--购物车开始-->
                <div id="shopify-section-cart-template" class="shopify-section">
                    <div id="CartSection" data-section-id="cart-template" data-section-type="cart-template"
                         data-notes-enable="false">
                        <form action="/carts" method="post" novalidate="" class="cart">
                            {{ csrf_field() }}
                            <div class="section-header">
                                <h1 class="section-header__title">Your Cart</h1>
                            </div>

                            <div class="cart__row medium-down--hide cart__header-labels">
                                <div class="grid--full">
                                    <div class="grid__item post-large--one-half push--post-large--one-half">
                                        <div class="grid--full">

                                            {#{% for productProps in cart_list["productProps"] %}#}
                                                {#<div class="grid__item one-third medium-down--one-third">#}
                                                    {#<span class="h4">{{ productProps["propName"] }}</span>#}
                                                {#</div>#}
                                            {#{% endfor %}#}

                                            <div class="grid__item one-third medium-down--one-third">
                                                <span class="h4">Price</span>
                                            </div>
                                            <div class="grid__item one-third medium-down--one-third text-center">
                                                <span class="h4">Quantity</span>
                                            </div>
                                            <div class="grid__item one-third medium-down--one-third text-right">
                                                <span class="h4">Total</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

    {% for key,product in cart_list %}

                            <div class="cart__row">
                                <div class="grid--full cart__row--table-large">

                                    <div class="grid__item post-large--one-half">
                                        <div class="grid">

                                            <div class="grid__item one-third">
                                                <a href="{{ product["url"] }}"
                                                   class="cart__image">
                                                    <img src="{{ product["spu_img"] }}"
                                                         alt="{{ product["productName"] }}">
                                                </a>
                                            </div>
                                            <div class="grid__item two-thirds">
                                                <a href="{{ product["url"] }}"
                                                   class="h5">
                                                    {{ product["productName"] | slice(0, 22)}}
                                                </a>
                                                <br>
                                                <a href="/carts/change?id={{ key }}&action=remove"
                                                   class="cart__remove">
                                                    <small>Remove</small>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="grid__item post-large--one-half">
                                        <div class="grid--full cart__row--table-large">
                                            <div class="grid__item one-third">
                                                <span class="cart__mini-labels">Price</span>
                                                <span class="h5">{{ product["price"] }}</span>
                                            </div>

                                            <div class="grid__item one-third text-center">
                                                <label  class="cart__mini-labels">Quantity</label>
                                                <input type="number" class="cart__quantity-selector" id="{{ key }}"
                                                       value="{{ product["quantity"] }}" min="0" aria-label="Quantity">
                                            </div>

                                            <div class="grid__item one-third text-right">
                                                <span class="cart__mini-labels">Total</span>
                                                     <span class="h5">
                                                            {{ product["total_price"] }}
                                                 </span>
                                             </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
   {% endfor %}
                            <div class="cart__row">
                                <div class="grid">
                                    <div class="grid__item text-right">
                                        <p>
                                            <span class="cart__subtotal-title">Subtotal</span>
                                            <span class="h5 cart__subtotal">{{ total_price }}</span>
                                        </p>
                                        <p><em>Shipping, taxes, and discounts will be calculated at checkout.</em></p>
                                        <a class="btn--secondary" href="/collections/all">Continue
                                            shopping</a>

                                        <button type="submit" name="checkout" id="checkout" class="btn">Check Out</button>
                                        <div class="cart__additional_checkout">
                                            <button name="goto_pp" type="submit" id="paypal-express-button"
                                                    class="additional-checkout-button additional-checkout-button--paypal-express"
                                                    value="paypal_express" data-strategy="cart">
                                                <img alt="Checkout with: PayPal" src="{{ assets }}/assets/img/paypal.png">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--购物车结束-->
            </div>
        </div>
    </main>
<script type="text/javascript">
    $(function () {
        {% if session_has("users") %}
         var check_user  = true ;
        {% else %}
        var check_user  = false ;
        {% endif %}
        if (check_user == false){
            $("#checkout").click(
                function () {
                   alert("You have not landed yet");
                   return false;
                }
            );
        }
    })
    $(function () {
        $(".cart__quantity-selector").change(
            function () {
                var quantity = $(this).val();
                var id = $(this).attr("id");
                $.get(
                    "/carts/change",
                    {"id":id,"action":"update_quntity","quantity":quantity},
                    function (data) {
                        if(data.status == true){
                            window.location.reload();
                        }
                    }
                );
                return false;
            }
        );
    })

</script>
{% endblock %}

