<h2 class="h4">Share this Product</h2>

<div class="social-sharing normal"
     data-permalink="/products/air-foamposite-one-yellow">
    <a target="_blank"
       href="https://www.facebook.com/sharer.php?u={{ product_info.url }}"
       class="share-facebook" title="Share on Facebook">
        <span class="icon icon-facebook" aria-hidden="true"></span>
        <span class="share-title" aria-hidden="true">Share</span>
        <span class="visually-hidden">Share on Facebook</span>
    </a>
    <a target="_blank"
       href="https://twitter.com/share?text={{ product_info.product_name }}url={{ product_info.url }}"
       class="share-twitter" title="Tweet on Twitter">
        <span class="icon icon-twitter" aria-hidden="true"></span>
        <span class="share-title" aria-hidden="true">Tweet</span>
        <span class="visually-hidden">Tweet on Twitter</span>
    </a>
    <a target="_blank"
       href="https://pinterest.com/pin/create/button/?url={{ product_info.url }}&media={{ product_info.spu_img }}&description={{ product_info.product_name }}"
       class="share-pinterest" title="Pin on Pinterest">
        <span class="icon icon-pinterest" aria-hidden="true"></span>
        <span class="share-title" aria-hidden="true">Pin it</span>
        <span class="visually-hidden">Pin on Pinterest</span>
    </a>
    {#分享组件结束#}
</div>