<div class="shopify-section">
    <style>
        .site-header__logo {
        a {
            max-width: 500px;
        }
        }
        /*================= If logo is above navigation ================== */
        .site-nav {
            border-top: 1px solid #382929;
            border-bottom: 1px solid #382929;
            margin-top: 30px;
        }
        /*============ If logo is on the same line as navigation ============ */
    </style>
    <div data-section-id="header" data-section-type="header-section">
        <div class="header-bar">
            <div class="wrapper medium-down--hide">
                <div class="post-large--display-table">
                    <div class="header-bar__left post-large--display-table-cell">
                        <div class="header-bar__module header-bar__search">
                            {#<form action="https://www.solestage.com/search" method="get" class="header-bar__search-form clearfix" role="search">#}
                                {#<button type="submit" class="btn icon-fallback-text header-bar__search-submit">#}
                                    {#<span class="icon icon-search" aria-hidden="true"></span>#}
                                    {#<span class="fallback-text">Search</span>#}
                                {#</button>#}
                                {#<input type="search" name="q" value="" aria-label="Search" class="header-bar__search-input" placeholder="Search">#}
                            {#</form>#}
                        </div>
                    </div>
                    <div class="header-bar__right post-large--display-table-cell">
                        <ul class="header-bar__module header-bar__module--list">
                            {% if session_has("users") %}
                                <li>
                                    <a href="/account">My Account</a>
                                </li>
                                <li>
                                    <a href="/account/logout" id="customer_login_link">Log out</a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="/account/login" id="customer_login_link">Log in</a>
                                </li>
                                <li>or</li>
                                <li>
                                    <a href="/account/register" id="customer_register_link">Create account</a>
                                </li>

                            {% endif %}

                        </ul>
                        <div class="header-bar__module">
                            <span class="header-bar__sep" aria-hidden="true"></span>
                            <a href="https://www.solestage.com/cart" class="cart-page-link">
                                <span class="icon icon-cart header-bar__cart-icon" aria-hidden="true"></span>
                            </a>
                        </div>
                        <div class="header-bar__module">
                            <a href="/carts" class="cart-page-link">
                                Cart
                                <span class="cart-count header-bar__cart-count">
                               {% autoescape false %}
                                     {% if session_has("users.carts") %}
                                         {% set length = session_get("users.carts") | length  %}
                                         {{ length|raw }}
                                      {% elseif session_has("carts") %}
                                          {% set length = session_get("carts") | length  %}
                                          {{ length|raw }}
                                     {% endif %}
                               {% endautoescape %}
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrapper post-large--hide">
                <button type="button" class="mobile-nav-trigger" id="MobileNavTrigger" data-menu-state="close">
                    <span class="icon icon-hamburger" aria-hidden="true"></span> Menu
                </button>
                <a href="https://www.solestage.com/cart" class="cart-page-link mobile-cart-page-link">
                    <span class="icon icon-cart header-bar__cart-icon" aria-hidden="true"></span>
                    Cart <span class="cart-count hidden-count">0</span>
                </a>
            </div>

        </div>
        <header class="site-header" role="banner">
            <div class="wrapper">
                <div class="grid--full">
                    <div class="grid__item">
                        <div class="h1 site-header__logo" itemscope="" itemtype="http://schema.org/Organization">
                            <a href="/" itemprop="url">
                                <img src="{{ assets }}/assets/img/0987_500x.png" alt="Solestage " itemprop="logo">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="grid--full medium-down--hide">
                    <div class="grid__item">
                        <ul class="site-nav" role="navigation" id="AccessibleNav">
                            {% for link in linklists["main-menu"].links %}
                            <li>
                                <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>