{% extends 'theme.twig' %}
{% block body_class %}customer-logged-in template-customers-account{% endblock %}
{% block body %}
    <main class="wrapper main-content" role="main">
        <div class="grid">
            <div class="grid__item">
                <div class="section-header section-header--large">
                    <h1 class="section-header__title">My Account</h1>
                </div>
                <div class="grid">
                    <div class="grid__item two-thirds medium-down--one-whole">
                        <h2 class="h4">Order History</h2>
                        {% if orders.count %}
                            <p>
                                <a href="/account/orders">View Orders ({{ orders.count}})</a>
                            </p>
                        {% else %}
                            <p>
                                You haven't placed any orders yet.
                            </p>
                        {% endif %}

                    </div>
                    <div class="grid__item one-third medium-down--one-whole">
                        <h2 class="h4">Account Details</h2>

                        <span class="h5">{{ session_get("users").first_name }} {{ session_get("users").last_name }}</span>
                        <p>

                            {{ address.address1 }}<br>
                            {{ address.address2 }}<br>
                            {{ address.city }}<br>
                            {{ address.province_name }}<br>
                            {{ address.country_name }}<br>
                            {{  address.phone_number}}
                        </p>


                        <p><a href="/account/addresses">View Addresses ({{ address.count}})</a></p>
                    </div>
                </div>

            </div>
        </div>
    </main>
{% endblock %}