{% extends 'theme.twig' %}
{% block body_class %}template-collection{% endblock %}
{% block body %}

    <main class="wrapper main-content" role="main">
        <div class="grid">
            <div class="grid__item">
                <div id="shopify-section-collection-template" class="shopify-section">
                    <div id="CollectionSection">
                        <div class="section-header section-header--breadcrumb">
                            <nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
                                <a href="/" title="Back to the frontpage">Home</a>
                                <span aria-hidden="true" class="breadcrumb__sep">›</span>
                                <span>{{ collection.title }}</span>
                            </nav>
                        </div>
                        <header class="section-header section-header--large">
                            <h1 class="section-header__title section-header__title--left">{{ collection.title }}</h1>
                        </header>
                        <div class="grid-uniform grid-link__container">
                            <!--具体的产品列表开始-->
                            {% for all_product in collection.all_products %}
                            <div class="grid__item wide--one-fifth large--one-quarter medium-down--one-half">
                                <div class="">
                                    <a href="/collections/{{ collection.collection_id}}/products/{{ all_product.id }}"
                                       class="grid-link">
                                        <span class="grid-link__image grid-link__image-sold-out grid-link__image--product" style="height: 179px;">
                                              <span class="grid-link__image-centered">
                                                  <img src="{{ all_product.spu_img }}" alt="{{ all_product.product_name }}">
                                              </span>
                                        </span>
                                        <p class="grid-link__title">{{ all_product.product_name }}</p>
                                        <p class="grid-link__meta">
                                            <span class="visually-hidden">Regular price</span>
                                            ¥{{ all_product.price }}
                                        </p>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}

                            <!--具体的产品列表结束-->

                        </div>

                        <hr class="hr--clear">
                        <div class="text-center">

                            {#<ul class="pagination-custom">#}
                                {#<li class="disabled"><span>←</span></li>#}
                                {#<li class="active"><span>1</span></li>#}
                                {#<li>#}
                                    {#<a href="/collections/jordan/shoes?page=2" title="">2</a>#}
                                {#</li>#}
                                {#<li><a href="/collections/jordan/shoes?page=2" title="Next »">→</a></li>#}
                            {#</ul>#}

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>

{% endblock %}