{% extends 'theme.twig' %}
{% block body_class %}customer-logged-in template-customers-addresses{% endblock %}
{% block body %}
    <script src="{{ assets }}/assets/js/theme.js" type="text/javascript"></script>
    <script src="{{ assets }}/assets/js/common.js" type="text/javascript"></script>
    <main class="wrapper main-content" role="main">

        <div class="grid">
            <div class="grid__item">
                <div class="section-header section-header--large">
                    <h1 class="section-header__title section-header__title--left">My Account</h1>
                    <div class="section-header__link--right">
                        <a href="/account/addresses#" class="btn"
                           onclick="CustomerAddress.toggleNewForm(); return false;">Add a New Address</a>
                    </div>
                </div>
                <p><a href="/account">Return to Account Details</a></p>
                {#新增表单 开始#}
                <form method="post" action="/account/addresses" id="address_form_new" accept-charset="UTF-8">

                    <input type="hidden" value="customer_address" name="form_type">
                    <input type="hidden" name="utf8" value="✓">
                    <div id="AddAddress" style="display: none;">
                        <h2>Add a New Address  </h2>
                        {{ csrf_field() }}
                        <div class="grid">
                            <div class="grid__item one-half small--one-whole">
                                <label for="AddressFirstNameNew">First Name</label>
                                <input type="text" id="AddressFirstNameNew" class="address_form"
                                       name="address[first_name]" value="" autocapitalize="words">
                            </div>

                            <div class="grid__item one-half small--one-whole">
                                <label for="AddressLastNameNew">Last Name</label>
                                <input type="text" id="AddressLastNameNew" class="address_form"
                                       name="address[last_name]" value="" autocapitalize="words">
                            </div>

                        </div>

                        <label for="AddressCompanyNew">Company</label>
                        <input type="text" id="AddressCompanyNew" class="address_form" name="address[company]" value=""
                               autocapitalize="words">

                        <label for="AddressAddress1New">Address1</label>
                        <input type="text" id="AddressAddress1New" class="address_form" name="address[address1]"
                               value="" autocapitalize="words">

                        <label for="AddressAddress2New">Address2</label>
                        <input type="text" id="AddressAddress2New" class="address_form" name="address[address2]"
                               value="" autocapitalize="words">

                        <div class="grid">
                            <div class="grid__item post-large--one-half">
                                <label for="AddressCityNew">City</label>
                                <input type="text" id="AddressCityNew" class="address_form" name="address[city]"
                                       value="" autocapitalize="words">
                            </div>

                            <div class="grid__item post-large--one-half">
                                <label for="AddressCountryNew">Country</label>
                                <select id="AddressCountryNew" name="address[country]" data-default="">
                                    {% for id,country in country_list %}
                                    <option value="{{ id }}">
                                            {{country }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="grid__item" id="AddressProvinceContainerNew" style="">
                                <label for="AddressProvinceNew">Province</label>
                                <select id="AddressProvinceNew" class="address_form" name="address[province]" data-default="">
                                </select>
                            </div>

                            <div class="grid__item post-large--one-half">
                                <label for="AddressZipNew">Postal/Zip Code</label>
                                <input type="text" id="AddressZipNew" class="address_form" name="address[zip]" value=""
                                       autocapitalize="characters">
                            </div>

                            <div class="grid__item post-large--one-half">
                                <label for="AddressPhoneNew">Phone</label>
                                <input type="tel" id="AddressPhoneNew" class="address_form" name="address[phone]"
                                       value="">
                            </div>
                        </div>

                        <p>
                            <input type="checkbox" id="address_default_address_new" name="address[default]" value="1">
                            <label for="address_default_address_new" class="inline">Set as default address</label>
                        </p>

                        <p><input type="submit" class="btn" value="Add Address"></p>
                        <p><a href="/account/addresses#"
                              onclick="CustomerAddress.toggleNewForm(); return false;">Cancel</a></p>
                        <hr>
                    </div>
                </form>

                {#新增表单结束#}

                <h2>Your Addresses</h2>
                <script>
                    var CustomerAddress = {
                        toggleForm: function (id) {
                            var editEl = document.getElementById('EditAddress_' + id);
                            editEl.style.display = editEl.style.display == 'none' ? '' : 'none';

                            return false;
                        },
                        toggleNewForm: function () {
                            var el = document.getElementById('AddAddress');
                            el.style.display = el.style.display == 'none' ? '' : 'none';
                            return false;
                        },
                        destroy: function (id, confirm_msg) {
                            if (confirm(confirm_msg || "Are you sure you wish to delete this address?")) {
                                $.ajax({
                                    url: "/account/addresses/"+id,
                                    type: "DELETE",
                                    data: [],
                                    success:function (data) {
                                        if(data.status == true){
                                            location.reload();
                                        }
                                    },
                                    headers: {
                                        "Content-Type": "application/json",
                                        "X-HTTP-Method-Override": "DELETE" }, //PUT,DELETE
                                });

                            }
                        },
                        toggleFormSelectCountry:function (id) {
                            var country_id = $('#AddressCountry_' + id).val();
                            $.get("/api/v1/geo/state", { country_id: country_id},
                                function(data){
                                    var result = data.data;
                                    if (result.has_state == true){
                                        var p = result.data;
                                        $("#AddressProvinceContainer_"+id).show();
                                        $("#AddressProvince_"+id).html("");
                                        $.each(p,function (k,v) {
                                            $("#AddressProvince_"+id).append("<option value='"+k+"'>"+v+"</option>");
                                        })
                                    }else{
                                        $("#AddressProvince_"+id).hide();
                                    }
                                });
                        }
                    };
                    $(function () {
                        // 新增中的事件
                        $("#AddressCountryNew").change(function () {
                            var country_id = $(this).val();
                            $.get("/api/v1/geo/state", { country_id: country_id},
                                function(data){
                                    var result = data.data;
                                    if (result.has_state == true){
                                        var p = result.data;
                                        $("#AddressProvinceContainerNew").show();
                                        $("#AddressProvinceNew").html("");
                                        $.each(p,function (k,v) {
                                            $("#AddressProvinceNew").append("<option value='"+k+"'>"+v+"</option>");
                                        })
                                    }else{
                                        $("#AddressProvinceContainerNew").hide();
                                    }
                                });
                        });
                        //编辑中的事件



                    });
                    function init() {
                        var country_id = $("#AddressCountryNew").val();
                        $.get("/api/v1/geo/state", { country_id: country_id},
                            function(data){
                                var result = data.data;
                                if (result.has_state == true){
                                    var p = result.data;
                                    $("#AddressProvinceContainerNew").show();
                                    $("#AddressProvinceNew").html("");
                                    $.each(p,function (k,v) {
                                        $("#AddressProvinceNew").append("<option value='"+k+"'>"+v+"</option>");
                                    })
                                }else{
                                    $("#AddressProvinceContainerNew").hide();
                                }
                            });

                    }
                    init();

                </script>
            {% for address in address_list %}
                <p>

                    {{ address.address1 }}<br>
                    {{ address.address2 }}<br>
                    {{ address.city }}<br>
                    {{ address.province_name }}<br>
                    {{ address.country_name }}<br>
                    {{  address.phone_number}}
                </p>
                <p>
                    <a href="#" onclick="CustomerAddress.toggleForm({{ address.id }}); return false">Edit</a> |
                    <a href="#" onclick="CustomerAddress.destroy({{ address.id }},'Are you sure you wish to delete this address?'); return false">Delete</a>

                </p>
                {# 弹出编辑开始#}
                <form method="post" action="/account/addresses/{{ address.id }}" id="address_form_{{ address.id }}" accept-charset="UTF-8">
                    <input type="hidden" value="customer_address" name="form_type">
                    <input type="hidden" name="utf8" value="✓">
                    <div id="EditAddress_{{ address.id }}" style="display:none;">
                        <hr>
                        <h4>Edit address</h4>
                        {{ csrf_field() }}
                        <div class="grid">
                            <div class="grid__item one-half small--one-whole">
                                <label for="AddressFirstName_{{ address.id }}">First Name</label>
                                <input type="text" id="AddressFirstName_{{ address.id }}" class="address_form" name="address[first_name]" value="{{ address.first_name }}" autocapitalize="words">
                            </div>

                            <div class="grid__item one-half small--one-whole">
                                <label for="AddressLastName_{{ address.id }}">Last Name</label>
                                <input type="text" id="AddressLastName_{{ address.id }}" class="address_form" name="address[last_name]" value="{{ address.last_name }}" autocapitalize="words">
                            </div>
                        </div>

                        <label for="AddressCompany_{{ address.id }}">Company</label>
                        <input type="text" id="AddressCompany_{{ address.id }}" class="address_form" name="address[company]" value="{{ address.company }}" autocapitalize="words">

                        <label for="AddressAddress1_{{ address.id }}">Address1</label>
                        <input type="text" id="AddressAddress1_{{ address.id }}" class="address_form" name="address[address1]" value="{{ address.address1 }}" autocapitalize="words">

                        <label for="AddressAddress2_{{ address.id }}">Address2</label>
                        <input type="text" id="AddressAddress2_{{ address.id }}" class="address_form" name="address[address2]" value="{{ address.address2 }}" autocapitalize="words">

                        <label for="AddressCity_{{ address.id }}">City</label>
                        <input type="text" id="AddressCity_{{ address.id }}" class="address_form" name="address[city]" value="{{ address.city }}" autocapitalize="words">

                        <label for="AddressCountry_{{ address.id }}">Country</label>
                        <select id="AddressCountry_{{ address.id }}" name="address[country]" data-default="{{ address.country_id }}" onchange="CustomerAddress.toggleFormSelectCountry({{ address.id }}); return false">
                            {% for id,country in country_list %}
                                <option value="{{ id }}" {% if country == address.country_name %} selected = 'selected' {% endif %}> {{- country }}</option>
                            {% endfor %}
                        </select>

                        <div id="AddressProvinceContainer_{{ address.id }}" style="">
                            <label for="AddressProvince_{{ address.id }}">Province</label>
                            <select id="AddressProvince_{{ address.id }}" class="address_form" name="address[province]" data-default="{{ address.province_id }}">
                                {% for id,province in address.province_list %}
                                    <option value="{{ id }}" {% if province == address.province_name %} selected = 'selected' {% endif %}> {{- province }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="grid">
                            <div class="grid__item one-half small--one-whole">
                                <label for="AddressZip_{{ address.id }}">Postal/Zip Code</label>
                                <input type="text" id="AddressZip_{{ address.id }}" class="address_form" name="address[zip]" value="{{ address.zip_code }}" autocapitalize="characters">
                            </div>

                            <div class="grid__item one-half small--one-whole">
                                <label for="AddressPhone_{{ address.id }}">Phone</label>
                                <input type="tel" id="AddressPhone_{{ address.id }}" class="address_form" name="address[phone]" value="{{ address.phone_number }}">
                            </div>
                        </div>
                        <p>
                            <input type="checkbox" id="address_default_address_{{ address.id }}" name="address[default]" value="1">
                            <label for="address_default_address_{{ address.id }}" class="inline">Set as default address</label>
                        </p>

                        <p><input type="submit" class="btn" value="Update Address"></p>
                        <p><a href="#" onclick="CustomerAddress.toggleForm({{ address.id }}); return false;">Cancel</a></p>
                        <hr>
                    </div>
                </form>
                {#弹出编辑结束#}

                {% endfor %}

            </div>
        </div>
    </main>

{% endblock %}
