<div id="shopify-section-{{ section_id }}" class="index-section">
    <div data-section-id="1478750195911" data-section-type="featured-products-section">
        <div class="section-header section-header--small">
            <h2 class="section-header__title">

                {%  set collection_id = sections[section_id].settings.collection %}
                {%  set class = sections[section_id].settings.class %}
                {% set title = collections[collection_id].title %}
                {% set product_list = collections[collection_id].product_list  %}
                {{ title }}
            </h2>
        </div>

        <div class="grid-uniform">

            {# 单个产品开始#}
            {% for product_id,product in  product_list %}
                <div class="grid__item {{ class }}">
                <div class="">
                    <a href="/products/{{ product_id }}" class="grid-link text-center">
                        <span class="grid-link__image grid-link__image--product" style="height: 314px;">
                            <span class="grid-link__image-centered">
                                <img src="{{ product.spu_img }} " alt="{{ product.product_name }}">
                                {#<img src="http://10.10.11.121:8081/index_files/IMG_2489_large.jpg " alt="{{ product.product_name }}">#}
                            </span>
                        </span>
                        <p class="grid-link__title">{{ product.product_name }}</p>
                        <p class="grid-link__meta">
                            {#<span class="visually-hidden">Regular price</span>#}
                            {#$550.00#}
                            {#From $275.00#}
                        </p>
                    </a>
                </div>
            </div>
            {% endfor %}
            {#单个产品结束#}

        </div>
    </div>
</div>
